<launch>
    <rosparam file="$(find asmarine24)/config/config_new_auv.yaml" />
    
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node>
    
    <!-- Delay to stabilize low level -->
    <arg name="node_start_delay" default="15.0" /> 

    <!-- Include zed_wrapper launch file -->
    <include file="$(find zed_wrapper)/launch/zed.launch" />

    <!-- Launch the sys_idn_node.py node with specified parameters -->
    <node name="sdk_node" pkg="asmarine24" type="AS24_SDK_V2.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

    <!-- Add the new node keyboard_trial.py -->
    <node name="keyboard_trial" pkg="asmarine24" type="keyboard_trial.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

</launch>

